@media screen and (max-width: 1800px) {
  .slider {
    padding-left: 6%;

    &__slides {
      width: 312%;
      gap: 3.8%;
    }

    &__slide {
      width: 16%;
    }
  }
}

@media screen and (max-width: 1628px) {
  .slider {
    padding-left: 7%;

    &__slide-author-position {
      display: block;
    }
  }
}

@media screen and (max-width: 1356px) {
  .slider {
    padding-left: 22%;

    &__slides {
      width: 681%;
      gap: 4.8%;
    }

    &__slide {
      width: 12%;
    }
  }
}

@media screen and (max-width: 620px) {
  .slider {
    padding-left: 15%;

    &__slide {
      padding: 20px 20px 20px 40px;
      background-image: none;
    }

    &__slide-img {
      top: 0;
      left: 0;
      transform: translate(-58%, 0);

      img {
        width: 75px;
        height: auto;
        border-radius: 28px 0px;
      }
    }
  }
}
