html {
  font-family: "Lato", sans-serif;
}

.text-heading,
.card__heading {
  font-family: "Georgia";
}

.solutions__text-heading::before {
  font-family: "Lato";
}

.footer__platforms .info {
  font-family: "Poppins";
}
