body {
  font-size: 20px;
}

/* Header section */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 87px;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.logo {
  width: 80px;
  height: 23px;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.header__nav-list {
  display: flex;
  gap: 72px;
  list-style: none;
}

.header__nav-item {
  cursor: pointer;
}

.header__btn-section {
  display: flex;
  gap: 0;
}

.header__btn {
  padding: 13px 50px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

/* Buttons */

.btn {
  padding: 20px 50px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn--primary {
  color: #fff;
  background-color: #01996d;
}

/* Sections */

.section {
  width: 100vw;
}

/* Hero Banner */

.hero-banner__content {
  position: relative;
}

.hero-banner__img {
  width: 100vw;
}

.hero-banner__headline {
  position: absolute;
  top: 23%;
  left: 13%;
}

.hero-banner__headline .btn {
  margin-top: 50px;
}

.hero-banner__text-heading {
  max-width: 480px;
}

.hero-banner__text {
  display: block;
  margin-top: 30px;
  max-width: 350px;
}

/* Solutions */
.solutions {
  padding: 205px 250px 50px;
}

.solutions__headline {
  display: flex;
  justify-content: space-between;
}

.solutions__text-heading {
  position: relative;
  max-width: 584px;
}

.solutions__text-heading::before {
  content: "How it works";
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  color: #424242;
  top: -50px;
  left: 0;
}

.solutions__text {
  max-width: 650px;
}

/* Cards */

.cards {
  display: flex;
  gap: 100px;
  margin-top: 200px;
  min-height: 1137px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 380px;
}

.card:nth-child(2) {
  align-self: flex-end;
}

.card:nth-child(3) {
  transform: translateY(100px);
}

.card__heading {
  position: relative;
  align-self: center;
  font-weight: 700;
  font-size: 30px;
}

.card:nth-child(2) .card__heading {
  align-self: flex-end;
}

.card__heading::before {
  position: absolute;
  top: -113px;
  left: -90px;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
}

.card:nth-child(1) .card__heading::before {
  content: "01";
}

.card:nth-child(2) .card__heading::before {
  content: "02";
}

.card:nth-child(3) .card__heading::before {
  content: "03";
  top: -113px;
  left: -123px;
}

.card__img {
  width: 100%;
  height: 470px;
  border-radius: 12px;
}

.card:nth-child(1) .card__img {
  background-image: url("../assets/card1-bg.png"),
    url("../assets/card1-bg-main.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 205px 225px, 0 0;
}

.card:nth-child(2) .card__img {
  background-image: url("../assets/card2-bg.png");
}

.card:nth-child(3) .card__img {
  background-image: url("../assets/card3-bg.png");
}

/* Community section */

.community {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #245852;
  padding: 229px 190px 176px;
}

.community__text {
  display: block;
  font-size: 25px;
  margin-top: 40px;
}

.community__headline {
  max-width: 580px;
}

.community__headline .btn {
  margin-top: 57px;
}

/* video */

.video {
  position: relative;
}

.video__prescreen {
  filter: brightness(80%);
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pricing section */

.pricing {
  display: flex;
  gap: 87px;
  padding: 120px 240px 243px 316px;
}

.pricing__img-container {
  position: relative;
}

.pricing__preheading {
  margin-bottom: 10px;
  font-size: 25px;
  color: #424242;
}

.pricing__text {
  display: block;
  max-width: 530px;
  margin-top: 25px;
}

.pricing__headline .btn {
  margin-top: 40px;
}

/* Expert card */

.expert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: absolute;
  padding: 24px 40px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
  transform: translate(-70px, 50px);
}

.expert-card__title {
  font-weight: 600;
  font-size: 15px;
}

.expert-card__line {
  width: 65%;
  height: 1px;
  background-color: #000000;
}

.expert-card__profile-pic {
  width: 57px;
  height: 57px;
}

.expert-card__name {
  font-size: 12px;
}

.expert-card__custom-content .text-heading {
  line-height: normal;
  margin-bottom: 15px;
}

.expert-card__content-list {
  padding-left: 15px;
}

.expert-card__content-item {
  margin-top: 15px;
  font-size: 11px;
}

/* Footer */

.footer {
  padding: 95px 92px 40px 275px;
  background-color: #245852;
  color: #fff;
}

.footer__logo {
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
}

.footer__nav-list {
  list-style: none;
  font-size: 25px;
}

.footer__nav-item {
  margin-top: 60px;
  cursor: pointer;
}

.footer__outbondary {
  display: flex;
  gap: 250px;
  width: fit-content;
  margin-left: auto;
}

.footer__social-icons {
  display: flex;
  gap: 50px;
}

.footer__social-icon {
  cursor: pointer;
}

.footer__platforms {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer__platforms .info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -45px);
}

.footer__platform {
  cursor: pointer;
}

/* icons */

.inst-icon {
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #80a4ce 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  background-size: 80px 80px;
}

/* Text */

.text--normal {
  line-height: 31px;
}

.text-heading {
  font-weight: 700;
  line-height: 74px;
}

.text-heading--big {
  font-size: 65px;
}

.text-heading--normal {
  font-size: 50px;
}

.text--white {
  color: #fff;
}

.text--greenish {
  color: #01996d;
}
