.header {
  position: relative;
  padding: 50px 10% 117px;
  font-family: $font-header;
  font-size: $font-size-big;
  background: url("../assets/decorations/traveller.png"),
    url("../assets/decorations/top-right-figure.svg"),
    url("../assets/decorations/ellipse-left.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 85% 110px, top right, top left;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: $grey;
  }

  &__btn-section {
    @include flex-with-gap(50px);
  }

  &__btn {
    background: transparent;
    outline: none;
    border: none;
    transition: transform 0.4s;

    &:nth-child(3) img {
      margin-bottom: 2px;
    }

    &:hover {
      transform: scale(1.05);
      color: $orange;
    }
  }

  &__btn--bordered {
    border: 1px solid #000;
    padding: 9px 22px;
    border-radius: 5px;
  }

  &__plane {
    position: absolute;
    transition: all 3s;

    &--1 {
      top: 19%;
      left: 49%;
    }

    &--2 {
      top: 52%;
      left: 84%;
    }

    &:hover {
      transform: translate(70%, -500%);
    }
  }
}
