// fonts
$font-common: "Poppins", sans-serif;
$font-headings: "Volkhov", serif;
$font-header: "Product Sans", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

//colors
$grey: #212832;
$light-grey: #5e6282;
$orange: #df6951;
$yellowish-orange: #f1a501;
$dark-blue: #181e4b;
$darksih-blue: #14183e;
$white: #fff;

//text font sizes
$font-size-normall: 16px;
$font-size-big: 17px;

$font-size-preheading-deafult: 18px;
$font-size-preheading-big: 20px;

$font-size-card-heading: 20px;

$font-size-heading-big: 89px;
$font-size-heading-normal: 50px;
