@import "./normalize";
@import "./base";
@import "./mixins";
@import "./text";
@import "../common.blocks/header/header";
@import "../common.blocks/nav/nav";
@import "../common.blocks/hero-banner/hero-banner";
@import "../common.blocks/section/section";
@import "../common.blocks/cards/cards";
@import "../common.blocks/destination-cards/destination-cards";
@import "../common.blocks/tutorial/tutorial";
@import "../common.blocks/trip-card/trip-card";

html {
  font-family: $font-common;
}

body {
  color: $grey;
}

button {
  cursor: pointer;
}
