.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input-wrapper {
    position: relative;
    width: 100%;
  }

  &__input {
    background-color: #eeeeee;
    outline: none;
    border: none;
    padding: 15px 0 15px 35px;
    border-radius: 20px 0px;

    &:focus,
    &:active {
      outline: 1px solid #000;
    }

    &:focus:invalid,
    &:active:invalid {
      outline: 1px solid $warning-color;
    }
  }

  &__inputs {
    display: flex;
    width: 100%;
    gap: 14%;
    margin: 40px 0;
  }

  .section__text {
    text-align: center;
    font-size: $font-size-medium;
    width: 90%;
  }

  .button {
    margin-top: 80px;
  }
}
