$grey-color: #646464;
$dark-grey-color: #212121;
$white-color: #fff;
$secondary-color: #caa892;
$primary-color: #37806b;
$warning-color: #e03131;

// font sizes
$font-size-default: 1rem;
$font-size-medium: 1.125rem;
$font-size-preheading: 1.25rem;
$font-size-title: 1.5rem;
$font-size-title-big: 1.875rem;
$font-size-heading: 3rem;
$font-size-tile-number: 3.125rem;
$font-size-heading-big: 4.5rem;

// font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// additional fonts
$font-family-poppins: "Poppins", sans-serif;
