@import "./base";
@import "./normalize";
@import "./mixins";

@import "./popup/popup";
@import "./preloader/preloader";
@import "./nav/nav";
@import "./burger/burger";
@import "./button/button";
@import "./progress-bar/progress-bar";
@import "./section/section";
@import "./cards/cards";
@import "./graph/graph";
@import "./slider/slider";
@import "./sign-up-form/sign-up-form";
@import "./sign-up-form/form-animation";
@import "./footer/footer";

@import "./nav/nav-media";
@import "./cards/cards-media";
@import "./section/section-media";
@import "./graph/graph-media";
@import "./slider/slider-media";
@import "./footer/footer-media";

@import url("leaflet/dist/leaflet.css");

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: $grey-color;
  scroll-behavior: smooth;
  scroll-padding-top: 47px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.main {
  margin: 0 auto;
  padding-top: 50px;
}

@media screen and (max-width: 1500px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 620px) {
  :root {
    font-size: 13px;
  }
}
